<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Welcome to the Training Helpyr</h1>
    <p>
    This is a utility for setting up, troubleshooting, and maintaining Care Everywhere in training environments (epic-trn***)<br>
    For in depth instructions, see the <a href="http://wiki.epic.com/main/User:Jwmccann/TrainingHelpyr">Training Helpyr wiki</a><br>
    You can also email <a href="mailto:CareEverywhereTrainingSupport@epic.com?Subject=Training%20Helpyr%20Web%20Support">Care Everywhere Training Support</a> with any questions or bugs 
    </p>
{% endblock %}